*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
   background-color: #d3d3d3;
   margin: 0;
}
h1{
    margin-top: 10%;
}

.wrapper{
    height: 100vh;
    display:flex;
    flex-direction: column;
    background-color: white;
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
        
}

.form-output{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.login{
    border: 1px solid blue;
    padding:10px;
    border-radius: 5px;
    width: 50%;
}
.submit{
    background-color: rgb(83, 83, 240);
    color: white;
    padding:10px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.submit:hover{
    background-color: rgb(60, 60, 238);
}
